@import "~Styles/palette.scss";

.container {
  height: 57px;
  width: 100%;
  background: $lightNeutral;
  display: flex;
  justify-content: space-between;
}

.avatarContainer {
  width: 35px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsContainer {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  padding-left: 1rem;
}

.dividerLogo {
  height: 90%;
  width: 0.1rem;
  background: $primaryColor;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.active {
  color: $primaryColor;
}

.tabs {
  margin-right: 0.8rem;
  p {
    padding-left: 0.5rem;
  }
}

.userMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9.5rem;
}

.menuContainer {
  width: 100%;
  background-color: $whiteColor;
  max-height: 10rem;
  overflow-y: scroll;
}

.menuOption {
  padding: 5px 1rem;
  cursor: pointer;

  &:nth-child(even) {
    background: $lightNeutral;
  }

  &:hover {
    background-color: $secondaryColor;

    & p {
      color: $whiteColor !important;
    }
  }
}
